.header{
  text-align: center;
  font-family: "Montserrat", Gadget, sans-serif;
  padding: 10px;
  flex-direction: column;   
  justify-content: center;     
  align-items: center;         
  background: black;     
  background-color: rgb(0, 0, 0);
  color: white
}
.footer{
  text-align: center;
  font-family: "Montserrat", Gadget, sans-serif;
  padding: 10px;
  flex-direction: column;   
  justify-content: center;     
  align-items: center;         
  background: black;     
  background-color: rgb(0, 0, 0);
  color: white
}

.body {
  height: 100vh;
  text-align: center;
  font-family: "Montserrat", Gadget, sans-serif;
  padding: 10px;
  flex-direction: column;   
  justify-content: center;     
  align-items: center;         
  background-image: url(images/Fd_ecran2.jpg) ; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local; 
  color: rgb(19, 18, 18);
  border-radius: 10%;
  
}
.title {
  border: 1px solid silver;
  border-bottom: #09bbac 4px solid;
  border-left: #09bbac 4px solid;
  border-radius: 10%;
  margin: 20px auto;
  padding: 12px;
  display: inline-block;
  font-family: "Playfair Display", Gadget, serif;
  color: rgb(197, 197, 197);
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px);

}
.table{
  margin:  20px auto;
  border: 1px solid rgb(115, 116, 116);
  border-bottom: 4px solid aqua;
  border-left: 4px solid aqua;
  border-radius: 10%;
  padding: 10px;
  display: inline-block;
  empty-cells: hide;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px);
}
.th{
  border: silver 1px solid;
  border-bottom: 4px solid aqua;
  border-left: 4x solid aqua;
  border-radius: 10%;
  text-shadow: 2px 2px 4px #09bbac;
  color: white;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px);
}


.Paragraphe{
  border: 1px solid silver;
  border-bottom: 4px solid aqua;
  border-left: 4px solid aqua;
  border-radius: 10%;
  color: white;
  padding: 0px 10px;
  margin: 20px auto;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px);
  
}
.details {
  text-align: justify;
  border: 1px groove silver;
  border-bottom: 4px groove aqua;
  border-left: 4px groove aqua;
  border-radius: 10%;
  padding: 0px 10px;
  margin: 20px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px); 
  color: white;
  
}
.details summary, a {
  background: linear-gradient(to right, #30CFD0 0%, #c4c3c3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.puces {
  list-style: none;
  padding-left: 0;
}

.puces li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 6px;
  background: url("images/logo_merco.png") no-repeat center;
  background-size: contain;
}

.details a:link, a:visited {
  text-decoration: none;
}
