header::after 
{
    background-image: url("../images/palmarès_merco.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    
}
main section 
{
    margin: auto;
    width: max-content;
    text-align: center;
}
main section > table
{
    border-collapse: separate;
    border-spacing: 4px;
    font-size: 1.2em;
    vertical-align: baseline;
}

